In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV

import warnings

In [2]:
df = pd.read_csv(r"E:\ML Project\notebook\DATA\DATA SET.csv")

In [3]:
dataC = df.copy()

In [4]:
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [5]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'], format='%d %m %Y %H:%M')

In [6]:
df['Month'] = df['Date/Time'].dt.month
df['week'] = df['Date/Time'].dt.isocalendar().week
df['day'] = df['Date/Time'].dt.day
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Month,week,day
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,1,1,1
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,1,1,1
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,1,1,1
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,1,1,1
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,1,1,1

In [7]:
seasons_dict = {1: 'Winter', 2: 'Winter', 3: 'Winter', 4: 'Spring', 5: 'Spring', 6: 'Summer', 7: 'Summer', 8: 'Summer', 9: 'Autumn', 10: 'Autumn', 11: 'Autumn', 12: 'Winter'}

df['Seasons'] = df['Month'].map(seasons_dict)
df

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Month,week,day,Seasons
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,1,1,1,Winter
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,1,1,1,Winter
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,1,1,1,Winter
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,1,1,1,Winter
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,1,1,1,Winter
...,...,...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724,12,1,31,Winter
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599,12,1,31,Winter
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500,12,1,31,Winter
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913,12,1,31,Winter
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620,12,1,31,Winter

In [8]:
df['Hour']=df['Date/Time'].dt.hour
df

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Month,week,day,Seasons,Hour
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,1,1,1,Winter,0
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,1,1,1,Winter,0
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,1,1,1,Winter,0
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,1,1,1,Winter,0
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,1,1,1,Winter,0
...,...,...,...,...,...,...,...,...,...,...
50525,2018-12-31 23:10:00,2963.980957,11.404030,3397.190793,80.502724,12,1,31,Winter,23
50526,2018-12-31 23:20:00,1684.353027,7.332648,1173.055771,84.062599,12,1,31,Winter,23
50527,2018-12-31 23:30:00,2201.106934,8.435358,1788.284755,84.742500,12,1,31,Winter,23
50528,2018-12-31 23:40:00,2515.694092,9.421366,2418.382503,84.297913,12,1,31,Winter,23
50529,2018-12-31 23:50:00,2820.466064,9.979332,2779.184096,82.274620,12,1,31,Winter,23

In [9]:
df.drop(columns=['Date/Time'], inplace=True)

In [10]:
X = df.drop(columns=['LV ActivePower (kW)'],axis=1)

In [11]:
X.head()

,Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Month,week,day,Seasons,Hour
0,5.311336,416.328908,259.994904,1,1,1,Winter,0
1,5.672167,519.917511,268.641113,1,1,1,Winter,0
2,5.216037,390.900016,272.564789,1,1,1,Winter,0
3,5.659674,516.127569,271.258087,1,1,1,Winter,0
4,5.577941,491.702972,265.674286,1,1,1,Winter,0

In [12]:
y = df['LV ActivePower (kW)']

In [13]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [14]:
X = preprocessor.fit_transform(X)

In [15]:
X.shape

(50530, 11)

In [16]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((40424, 11), (10106, 11))

In [17]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [ ]:
%pip install xgboost
%pip install catboost

Requirement already satisfied: xgboost in e:\ml project\venv\lib\site-packages (2.1.4)
Requirement already satisfied: numpy in e:\ml project\venv\lib\site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in e:\ml project\venv\lib\site-packages (from xgboost) (1.10.1)
Requirement already satisfied: catboost in e:\ml project\venv\lib\site-packages (1.2.8)
Requirement already satisfied: graphviz in e:\ml project\venv\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in e:\ml project\venv\lib\site-packages (from catboost) (3.7.5)
Requirement already satisfied: numpy<3.0,>=1.16.0 in e:\ml project\venv\lib\site-packages (from catboost) (1.24.4)
Requirement already satisfied: pandas>=0.24 in e:\ml project\venv\lib\site-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in e:\ml project\venv\lib\site-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in e:\ml project\venv\lib\site-packages (from catboost) (6.0.1)
Requirement already satisfied: six in e:\ml project\venv\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\ml project\venv\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\ml project\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in e:\ml project\venv\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (1.1.1)
Requirement already satisfied: cycler>=0.10 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (4.57.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=6.2.0 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in e:\ml project\venv\lib\site-packages (from matplotlib->catboost) (6.4.5)
Requirement already satisfied: narwhals>=1.15.1 in e:\ml project\venv\lib\site-packages (from plotly->catboost) (1.36.0)
Requirement already satisfied: zipp>=3.1.0 in e:\ml project\venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib->catboost) (3.20.2)

In [19]:
import xgboost as xgb
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [20]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 393.9594
- Mean Absolute Error: 198.6625
- R2 Score: 0.9101
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 403.6790
- Mean Absolute Error: 203.7846
- R2 Score: 0.9045
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 394.1357
- Mean Absolute Error: 197.4074
- R2 Score: 0.9100
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 403.8556
- Mean Absolute Error: 202.5121
- R2 Score: 0.9044
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 393.9592
- Mean Absolute Error: 198.5918
- R2 Score: 0.9101
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 403.6866
- Mean Absolute Error: 203.7183
- R2 Score: 0.9045
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 138.8822
- Mean Absolute Error: 52.3184
- R2 Score: 0.9888
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 182.6688
- Mean Absolute Error: 69.3410
- R2 Score: 0.9804
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 286.3966
- Mean Absolute Error: 94.1414
- R2 Score: 0.9519
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 73.8385
- Mean Absolute Error: 26.8795
- R2 Score: 0.9968
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 210.3340
- Mean Absolute Error: 76.3631
- R2 Score: 0.9741
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 109.9184
- Mean Absolute Error: 54.1146
- R2 Score: 0.9930
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 172.6034
- Mean Absolute Error: 71.8502
- R2 Score: 0.9825
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 139.0789
- Mean Absolute Error: 64.8291
- R2 Score: 0.9888
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 167.8582
- Mean Absolute Error: 74.2603
- R2 Score: 0.9835
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 445.9309
- Mean Absolute Error: 264.9226
- R2 Score: 0.8848
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 458.2894
- Mean Absolute Error: 270.3074
- R2 Score: 0.8769
===================================

In [21]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
7    CatBoosting Regressor  0.983487
6             XGBRegressor  0.982540
3    K-Neighbors Regressor  0.980444
5  Random Forest Regressor  0.974073
4            Decision Tree  0.951930
0        Linear Regression  0.904498
2                    Ridge  0.904494
1                    Lasso  0.904414
8       AdaBoost Regressor  0.876910